/* Global Styles */

:root {
	--primary-color: #4cbb17;
	--secondary-color: #245c99;
	--dark-color: #343a40;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #245c99;
	color: rgb(233, 231, 231);
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Utilities */

.container {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 0.2rem;
	/* margin-top: 3rem; */
	margin-bottom: -3rem;
}

/* Text Styles*/

.x-large {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.lead {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.text-center {
	text-align: center;
}

.text-primary {
	color: var(--primary-color);
}

.text-dark {
	color: var(--dark-color);
}

/* Padding */

.p {
	padding: 0.5rem;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 2rem;
}

.p-3 {
	padding: 3rem;
}

.py {
	padding: 0.5rem 0;
}

.py-1 {
	padding: 1rem 0;
}

.py-2 {
	padding: 2rem 0;
}

.py-3 {
	padding: 3rem 0;
}

/* Margin */

.m {
	margin: 0.5rem;
}

.m-1 {
	margin: 1rem;
}

.m-2 {
	margin: 2rem;
}

.m-3 {
	margin: 3rem;
}

.my {
	margin: 0.5rem 0;
}

.my-1 {
	margin: 1rem 0;
}

.my-2 {
	margin: 2rem 0;
}

.my-3 {
	margin: 3rem 0;
}

.uppercase {
	text-transform: uppercase;
}

.btn {
	display: inline-block;
	background: var(--light-color);
	color: #333;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	border: none;
	border-radius: .25rem;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
}

.btn-center {
	display: flex;
	justify-content: center;
}

.badge {
	font-size: 0.8rem;
	padding: 0.1rem;
	text-align: center;
	margin: 0.3rem;
	background: var(--light-color);
	color: #333;
}

.alert {
	text-align: center;
	width: 50%;
	position: absolute;
	left: 0;
	right: 0;
	padding: 0.8rem;
	margin: 1rem auto;
	z-index: 10;
	opacity: 0.9;
	background: var(--light-color);
	color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
	background: var(--primary-color);
	color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
	background: var(--light-color);
	color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
	background: var(--dark-color);
	color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
	background: var(--success-color);
	color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
	background: #fff;
	color: #333;
	border: #ccc solid 1px;
}

.btn:hover {
	opacity: 0.8;
}

.bg-light,
.badge-light {
	border: #ccc solid 1px;
}

.round-img {
	border-radius: 50%;
}

.line {
	height: 1px;
	background: #ccc;
	margin: 1.5rem 0;
}

/* Icons */

.icon-padding {
	padding-left: 0.5rem;
}

/* Overlay */

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Loading Spinner */

.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.loader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid var(--primary-color);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Forms */

.form .form-group {
	margin: 1.2rem 0;
	width: 24rem;
}

.form-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}

.form .form-text {
	display: block;
	margin-top: 0.3rem;
	color: rgb(255, 255, 255);
}

.red-required {
	color: rgb(255, 35, 6);
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.1rem;
	border: 1px solid #ccc;
	border-radius: .25rem;
}

.form input[type='submit'],
button {
	font: inherit;
}

.form .social-input {
	display: flex;
}

.form .social-input i {
	padding: 0.5rem;
	width: 4rem;
}

.form .social-input i.fa-twitter {
	color: #38a1f3;
}

.form .social-input i.fa-facebook {
	color: #3b5998;
}

.form .social-input i.fa-instagram {
	color: #3f729b;
}

.form .social-input i.fa-youtube {
	color: #c4302b;
}

.form .social-input i.fa-linkedin {
	color: #0077b5;
}

.table th,
.table td {
	padding: 1rem;
	text-align: left;
}

.table th {
	background: var(--light-color);
}

/* Navbar */

.logo {
	width: 150px;
	height: 60px;
	background: url('./resources/logo.jpg') no-repeat center center/cover;
	border-radius: 22px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	position: fixed;
	background-color: rgb(20, 56, 95);
	z-index: 1;
	width: 100%;
	top: 0;
	border-bottom: solid 1px var(--primary-color);
	opacity: 0.95;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.navbar a:hover {
	color: var(--primary-color);
}

.navbar .welcome span {
	margin-right: 0.6rem;
}

/* Landing Page */

.landing {
	background: url('./resources/landing-beach.jpg') no-repeat center center/cover;
	height: 100vh;
}

.landing-inner {
	color: #fff;
	height: 100%;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.landing-blue {
	color: rgba(0, 102, 255, 0.89);
}

.landing-green {
	color: #08e91bbb;
}

.audio {
	margin: 20px;
	outline: none;
	transform: scale(1.12);
	border-radius: 90px;
	box-shadow: 5px 5px 20px rgba(220, 236, 3, 0.4);
}

/* Player Section */

.player-section {
	min-height: 100vh;
	width: 100%;
	background: url('./resources/yoga-2.jpg') no-repeat center center/cover;
}

.player-header {
	padding-top: 15vh;
}

/* Pricing Section */

.pricing-section {
	min-height: 100vh;
	width: 100%;
	background-color: rgb(20, 56, 95);
}

.pricing-header {
	padding-top: 15vh;
}

.pricing-table {
	max-width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
	flex-wrap: wrap;
	color: black;
}

.col {
	flex: 50%;
	padding: 10px;
	max-width: 340px;
	margin: 1.5rem;
}

.table {
	background: #fff;
	padding: 80px 20px;
	font-family: sans-serif;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px #000000;
	/* border-radius: 10px; */
}

.table h2 {
	text-transform: uppercase;
	color: var(--primary-color);
}

.table ul {
	margin: 0;
	padding: 0;
}

.table ul li {
	padding: 10px 0;
	list-style: none;
}

.price {
	font-size: 40px;
	margin-bottom: 20px;
}

.price span {
	display: block;
	font-size: 14px;
}

.table a {
	width: 60%;
	text-decoration: none;
	color: #030e18;
	border: 2px solid #2c3e50;
	display: block;
	padding: 10px 0;
	margin: 10px auto;
	border-radius: 25px;
	text-transform: uppercase;
	font-size: 1rem;
	transition: 0.2s linear;
}

.table a:hover {
	background: #245c99;
	color: var(--primary-color);
	border: 2px solid #245c99;
}

.pop {
	background: var(--primary-color);
	color: #fff;
	transform: rotate(45deg);
	padding: 10px 40px;
	position: absolute;
	top: 10px;
	right: -35px;
}

@media screen and (max-width: 980px) {
	.col {
		flex: 50%;
	}
}

@media screen and (max-width: 700px) {
	.col {
		flex: 100%;
	}
}

/* appointment Calendly Section  */

.calendar {
	z-index: 10;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar .calendly-style {
	position: absolute;
	width: 50vw;
	min-width: 350px;
	margin-top: 11vh;
	height: 750px;
	overflow: hidden;
	/* padding: 30px; */
	z-index: 10;
}

.calendly-inline-widget {
	max-width: 70vw !important;
	max-height: 60vh !important;
	/* padding: 50px !important; */
}

.calendly-badge-widget {
	/* right: auto !important;
	left: 20px !important; */
	right: 35px !important;
	bottom: 50px !important;
	border-radius: 25px !important;
	border-color: var(--primary-color) !important;
	border: 2px solid;
	width: 160px;
	position: absolute !important;
	z-index: 0 !important;
}

/* FAQ */

.FAQ-section {
	position: relative;
	height: 80vh;
	width: 100%;
	background: url('./resources/landing-rock.jpg') no-repeat center center/cover;
	background-color: #343a40;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
}

.FAQ-section:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	opacity: 0.75;
}

.container-faq {
	margin: 10px;
	padding: 4rem;
	width: 48rem;
	z-index: 10;
}

.faq-header {
	font-size: 2.25rem;
	color: #00a6ff;
	padding: 1.3rem;
	text-align: center;
	margin-bottom: 20px;
}

.accordion a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	padding: 1rem 3rem 1rem 1rem;
	color: #ffffff;
	font-size: 1.15rem;
	font-weight: 400;
	border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
	cursor: pointer;
	color: #00a6ff;
}

.accordion a:hover::after {
	border: 1px solid #00a6ff;
}

.accordion a.active {
	color: #00a6ff;
	border-bottom: 1px solid #00a6ff;
}

.accordion a::after {
	font-family: 'Ionicons';
	content: '\f218';
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
	right: 1rem;
	font-size: 1rem;
	color: #ffffff;
	padding: 5px;
	width: 20px;
	height: 20px;
	bottom: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #ffffff;
	/* text-align: center; */
}

.accordion a.active::after {
	font-family: 'Ionicons';
	content: '\f209';
	color: #00a6ff;
	border: 1px solid #00a6ff;
}

.accordion .content {
	opacity: 0;
	padding: 0 1rem;
	max-height: 0;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	clear: both;
	-webkit-transition: all 0.2s ease 0.15s;
	-o-transition: all 0.2s ease 0.15s;
	transition: all 0.2s ease 0.15s;
}

.accordion .content p {
	font-size: 1rem;
	font-weight: 300;
}

.accordion .content.active {
	opacity: 1;
	padding: 1rem;
	max-height: 120px;
	-webkit-transition: all 0.35s ease 0.15s;
	-o-transition: all 0.35s ease 0.15s;
	transition: all 0.35s ease 0.15s;
}

/* Sign up and Sign in*/

.auth-section {
	margin-top: 50px;
	height: 85vh;
	width: 100%;
}

/* Payment and Upload  */

.payment-section {
	height: 85vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	background: url('./resources/amazing-balance-blur-boulder-312839.jpg') no-repeat center center/cover;
}

.payment-section::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 15vh;
	left: 0;
	background-color: #000000;
	opacity: 0.7;
}

.payment-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 4px solid var(--secondary-color);
	padding: 3rem;
	z-index: 10;
	background: rgba(0, 0, 0, .65);
	border-radius: 20px;
}

.payment-header {
	z-index: 3;
	margin: 20px;
	font-size: 1rem;
	color: white;
}

.pay-bottom {
	display: flex;
	justify-content: space-around;
}

.stripe-pay-button {
	display: flex;
	margin-top: 12px;
	width: 60px;
	height: 38px;
	border-radius: 5px;
	z-index: 10;
}

.file-uploader {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10;
	overflow: hidden;
	color: white;
}

.upload-text {
	z-index: 10;
	font-size: 1.3vw;
	color: rgb(255, 255, 255);
}

div.browse-wrap {
	top: 0;
	left: 0;
	margin: 20px;
	cursor: pointer;
	overflow: hidden;
	padding: 40px 60px;
	text-align: center;
	position: relative;
	background-color: var(--secondary-color);
	border: solid 2px var(--primary-color);
	border-radius: 10px;
	opacity: 0.8;
}

div.browse-wrap:hover {
	opacity: 1;
}

div.title {
	color: #fff;
	font-size: 16px;
	font-family: tahoma, arial, sans-serif;
}

input.upload {
	right: 0;
	margin: 0;
	bottom: 0;
	padding: 0;
	opacity: 0;
	height: 300px;
	outline: none;
	cursor: inherit;
	position: absolute;
	font-size: 1000px !important;
}

span.upload-path {
	text-align: center;
	margin: 10px;
	display: block;
	font-size: 1vw;
	color: #fff;
	font-family: tahoma, arial, sans-serif;
}

/* Footer */

.footer {
	width: 100%;
	height: 15vh;
	background-color: rgb(24, 23, 23);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	text-align: center;
}

.footer .subscribe a {
	color: #00ff4c;
}

.footer .social-media {
	font-size: 1.8rem;
}

.footer .social-media i {
	padding: 0.5rem;
}

.footer .social-media i.fa-youtube {
	color: #c4302b;
}

.footer .social-media i.fa-facebook {
	color: #3b5998;
}

.footer .social-media i.fa-instagram {
	color: #3f729b;
}

/* Mobile Styles */

@media (max-width: 700px) {
	.container {
		margin-top: 8rem;
	}
	.hide-sm {
		display: none;
	}
	/* Text Styles */
	.x-large {
		font-size: 3rem;
	}
	.large {
		font-size: 2rem;
	}
	.lead {
		font-size: 1rem;
	}
	/* Navbar */
	.navbar {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.logo {
		margin: 0 auto;
	}
	.navbar ul {
		text-align: center;
		justify-content: center;
	}
	.navbar h1 {
		margin-bottom: -1rem;
	}
	.navbar .welcome {
		display: none;
	}
	/* Footer */
	.footer .social-media {
		font-size: 1.8rem;
	}
	.footer .social-media i {
		padding: 0.5rem;
	}
	.footer {
		flex-direction: column;
	}
	.footer .info-copyright h3 {
		font-size: 0.8rem;
	}
	.calendly-badge-widget {
		display: none;
	}
}

/* Thank You Page */

.content {
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper-1 {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #73808b;
	border-radius: 10px;
}

.wrapper-2 {
	padding: 30px;
	text-align: center;
}

.wrapper-1 h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 4em;
	letter-spacing: 2px;
	color: var(--primary-color);
	margin: 0;
	margin-bottom: 20px;
}

.wrapper-2 p {
	margin: 0;
	font-size: 1.3em;
	color: rgb(255, 255, 255);
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
}

.go-home {
	display: inline-block;
	color: #fff;
	background: var(--primary-color);
	border: none;
	margin-top: 2rem;
	padding: 10px 40px;
	border-radius: 10px;
	text-transform: capitalize;
	cursor: pointer;
}

.footer-like {
	margin-top: auto;
	background: #d7e6fe;
	padding: 6px;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.footer-like p {
	margin: 0;
	padding: 4px;
	color: rgb(0, 0, 0);
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.5px;
}

.footer-like p a {
	text-decoration: none;
	color: rgb(56, 125, 255);
	font-weight: 600;
}

@media (min-width: 200px) {
	.content {
		/* max-width: 1000px; */
		margin: 0 auto;
	}
	.wrapper-1 {
		height: initial;
		max-width: 620px;
		margin: 0 auto;
		margin-top: 50px;
		box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
	}
}

/* 404 Not Found Page */

.not-found-section {
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#err-icon {
	font-size: 80pt;
	color: #bdc3c7;
	margin-top: 150px;
	text-shadow: 0px 3px 0px rgba(150, 150, 150, 1);
	-webkit-transition: 0.5s;
}

#err-icon:hover {
	-webkit-transform: scale(1.1);
	color: #e74c3c;
	text-shadow: 0px 3px 0px rgba(192, 57, 43, 1);
}

/* Contact Form */

.contact-section {
	height: 85vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #a7cfdf;
	background: -moz-radial-gradient(center, ellipse cover, #a7cfdf 11%, #23538a 91%);
	background: -webkit-radial-gradient(center, ellipse cover, #a7cfdf 11%, #23538a 91%);
	background: radial-gradient(ellipse at center, #a7cfdf 11%, #23538a 91%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=1);
	font-family: Arial, Tahoma;
}

.contact {
	width: 400px;
	margin: 50px auto;
	box-shadow: 0 0 15px 3px rgba(0, 0, 0, .2);
	margin-top: 10%;
}

.contact .head {
	padding: 30px;
	background-color: var(--secondary-color);
	color: #fefefe;
	overflow: hidden;
}

.contact .head h3 {
	margin: 0;
	float: left;
	font-size: 18px;
	letter-spacing: 2px;
}

.contact .head i {
	float: right;
	color: #fefefe;
}

.contact form {
	padding: 30px;
	background-color: #fff;
}

.contact form label {
	display: block;
	margin-bottom: 5px;
	letter-spacing: 1px;
	color: var(--secondary-color);
}

.contact form > input {
	height: 32px;
	margin-bottom: 20px;
}

.contact form > input,
.contact form > textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #eee;
}

.contact form > textarea {
	height: 70px;
	margin-bottom: 40px;
	resize: none;
}

.contact form button {
	display: block;
	width: 80%;
	margin: auto;
	padding: 18px;
	letter-spacing: 1px;
	background: var(--primary-color);
	color: #fefefe;
	border: none;
	border-radius: 40px;
	-webkit-box-shadow: 0px 4px 8px rgba(165, 126, 157, 0.62);
	box-shadow: 0px 4px 8px rgba(165, 126, 157, 0.62);
	cursor: pointer;
}

.contact form > input:focus,
.contact form > textarea:focus,
.contact form button:focus {
	outline: 0;
}

.contact .head h3,
.contact form button {
	text-transform: uppercase;
}

::-webkit-input-placeholder {
	color: #9b9b9b;
}
